body{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 200px 50px repeat(4, 200px) ;
}

.nav{
    grid-area: 2 / 1 / 2 / 6;
    display: grid;
    grid-template-columns: repeat(4, 8%) 68%;
}

main{
    grid-area: 3 / 1 / 7 / 5;
}

aside{
    grid-area: 3 / 5 / 7 / 6;
}

footer{
    grid-area: 7 / 1 / 8 / 6;
}
