body{
    /* background-color: rgba(28, 29, 34, 1); */
    background-image: url("../Pic/pizza2.jpg");
    background-repeat: repeat;
    background-attachment:local;
    background-size: 45% 45%;
}


main{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

aside{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    color: blueviolet;
    font-size: 20px;
    border: 1px solid black;
}

.nav{
    background-color: rgba(192, 192, 192, 0.6);
    text-decoration: none;
    border: 1px solid black;
}

.nav-link{
    height: 20px;
    padding: auto;
    margin: auto;
}

#cart{
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    border:gold solid 2px;
}

::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)
}

a:hover{
    color: blueviolet;
    /* font-style: oblique; */
    font-size: large;
}

ul{
    list-style: none;
}

p{
    color: rgba(255, 255, 255, 0.8);
}

#head-pic{
    height: 100%;
    width: 45%;
    border-radius: 10%;
}

table{
    margin: 5% auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    width: 75%;
    max-height: 75%;
}

th{
    padding: 10px 30px;
    margin: 10px;
    color: silver;
    border: 0px 1px solid black;
}

tr{
    padding: 10px;
    margin: 10px;   
}

td{
    padding: 10px 30px;
    margin: 10px;
    color: silver;
    border: 0px 1px solid black;
}


